@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');
* {
                    font-family: 'Lato', sans-serif;
                    font-family: 'Open Sans', sans-serif;
                    font-family: 'Work Sans', sans-serif;
                }
                nav{
                    margin: 10px 100px;
                }
.nav-container{
                    display: flex;
                    /* border: 1px solid red; */
                    justify-content: space-between;
                    /* align-items: center; */
}
.nav-container .nav-logo{
                    display: flex;
                    /* justify-content: space-between; */
                    /* margin-top: 0; */
                    /* border: 2px solid blue; */
                    width: 50%;
                    
                   
/* border: 1px solid seagreen; */
}
.nav-logo p{
                    font-weight: 700;
                    font-size: 40px;
                    margin-top: 0;
                 
}
 

.nav-logo img{
                    /* border: 2px solid red; */
                    width: 75px;
                    height: 40px;
                    /* object-fit: cover; */
                    margin: 8px;

}

.nav-items {
    /* border: 1px solid green; */
    width: 50%;
    /* color: green; */
}
.nav-items a{
    color: #3C354F;
}
.nav-items > ul{
                    display: flex;
                    list-style: none;
                    margin-right: 30px;
                    margin-left: 30px;
                    font-weight: 500;
                    /* gap: 10px; */
                    justify-content: space-between;
                    align-items: start;
                    padding-right: 20px;
                    text-decoration:#3C354F ;
}
.nav-items .follow{
    background-color: rgba(11, 2, 35, 0.10);
    padding: 10px 20px;
    border-radius: 8px;
}
.nav-items a{
    text-decoration: none;
    text-justify: auto;
}
/* /* .nav-items{
 /* border: solid blue;
 font-size: 20px;
 display: flex;
 justify-content: space-between;
margin-left: 10px; */ 
.g-logo{
                    color: #FF42A5;
}
.gmaer-logo{
                    color: black;

}
.banner{
display: flex;
/* border: 1px solid red; */
margin: 20px 100px;


}
.banner-text{
/* border: 1px solid red; */
width: 50%;
}
.banner-img{
width: 50%;
/* border: 1px solid red; */
justify-content: flex-end;
}
.banner-img img{
                    width: 500px;
              height: 500px;
}
.banner-text .play{
    color: #0B0223;

font-size: 40px;
font-weight: 600;
margin-bottom: 0;
}
.banner-text h1{
    font-weight: 800;
    font-size: 80px;
    /* color: ; */
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
/* text-align: center; */
margin-top: 0;

}
.banner-text button{
    color: white;
}
.banner-text .btn-sign{
    padding: 21px 40px;
    border-radius: 48px;
    font-weight: 600;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: 0;
}
.banner-text .btn-go{
    padding: 21px 40px;
    border-radius: 48px;
    font-weight: 600;
    border: 0;
    background: #4EC5F7;
    margin-left: 10px;

}
.online-text h2{
    display: flex;
    justify-content: center;
}
.online-text p{
    display: flex;
    justify-content: center;
}
.grid-card{
    display: grid;
    /* border: 1px solid red; */
    /* width: 100%; */
    margin: 0 100px;
    margin-right: 100px;
    grid-template-columns: repeat(4,1fr);
    /* justify-content: space-between; */
    
}
.grid-card img{
    width: 300px;
    height: 400px;
}
/* .card-1 {

}
.card-2 {
    
}
.card-3{
   
}
.card-4{
   
} */
/* .two-img-text{
    display: flex;
} */
.two-img-text{
    display: flex;
    align-items: center;
}
.two-img-in{
    /* display: flex; */
    position: relative;
}
.two-img img{
    width: 400px;
    height: 370px;
    margin: 20px 100px;
    border: 8px;

}
.one-img img{
    padding: 10px;
    width: 190px;
    height: 220px;
    position: absolute;
    left: 60%;
    top: 65%;
}
.two-img-text .img-text{
   
    padding: 50px;
}
.li-items{
    border: 1px solid red;
    display: grid;
    margin: 100px 100px;
    /* justify-content: center; */
    color: #0B0223;
text-align: center;
text-decoration-style: solid;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 10px;
}
.li-items .item img{
    width: 60px;
    height: 60px;
}
.item{
    display: flex;
}

/* footer */
.footer-container{
    border: 1px solid red;
    background-color: #0B0223;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    margin: 0 100px;
    height: 400px;
}
.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;

}
.footer-logo img{
    width: 75px;
                    height: 40px;
                    /* margin-left: 10px; */
}
.footer-logo p{
    font-weight: 700;
    font-size: 40px;
    width: 75px;
    height: 40px;


}
.footer-g-logo{
    color: #FF42A5;
}
.footer-gmaer-logo{
    color: white;
}
.footer-list>ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
text-align: center;
margin: 10px 150px;
font-size: 15px;
font-style: normal;
font-weight: 600;

}

