@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');
* {
                    font-family: 'Lato', sans-serif;
                    font-family: 'Open Sans', sans-serif;
                    font-family: 'Work Sans', sans-serif;
                }
                nav{
                    margin: 10px 100px;
                }
.nav-container{
                    display: flex;
                    /* border: 1px solid red; */
                    justify-content: space-between;
                    /* align-items: center; */
}
.nav-container .nav-logo{
                    display: flex;
                    /* justify-content: space-between; */
                    /* margin-top: 0; */
                    /* border: 2px solid blue; */
                    width: 50%;
                    
                   
/* border: 1px solid seagreen; */
}
.nav-logo p{
                    font-weight: 700;
                    font-size: 40px;
                    margin-top: 0;
                 
}
 

.nav-logo img{
                    /* border: 2px solid red; */
                    width: 75px;
                    height: 40px;
                    /* object-fit: cover; */
                    margin: 8px;

}

.nav-items {
    /* border: 1px solid green; */
    width: 50%;
    /* color: green; */
}
.nav-items a{
    color: #3C354F;
}
.nav-items > ul{
                    display: flex;
                    list-style: none;
                    margin-right: 30px;
                    margin-left: 30px;
                    font-weight: 500;
                    /* gap: 10px; */
                    justify-content: space-between;
                    align-items: start;
                    padding-right: 20px;
                    text-decoration:#3C354F ;
}
.nav-items .follow-logoo{
    background-color: rgba(11, 2, 35, 0.10);
    padding: 10px 20px;
    border-radius: 8px;
}
.follow-logoo .fa-brands{
    font-size: 20px;
}
.nav-items a{
    text-decoration: none;
    text-justify: auto;
}
/* /* .nav-items{
 /* border: solid blue;
 font-size: 20px;
 display: flex;
 justify-content: space-between;
margin-left: 10px; */ 
.g-logo{
                    color: #FF42A5;
}
.gmaer-logo{
                    color: black;

}
.banner{
display: flex;
/* border: 1px solid red; */
margin: 20px 100px;


}
.banner-text{
/* border: 1px solid red; */
width: 50%;
}
.banner-img{
width: 50%;
/* border: 1px solid red; */
justify-content: flex-end;
}
.banner-img img{
                    width: 500px;
              height: 500px;
}
.banner-text .play{
    color: #0B0223;

font-size: 40px;
font-weight: 600;
margin-bottom: 0;
}
.banner-text h1{
    font-weight: 800;
    font-size: 80px;
    /* color: ; */
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
/* text-align: center; */
margin-top: 0;

}
.banner-text button{
    color: white;
}
.banner-text .btn-sign{
    padding: 21px 40px;
    border-radius: 48px;
    font-weight: 600;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: 0;
}
.banner-text .btn-go{
    padding: 21px 40px;
    border-radius: 48px;
    font-weight: 600;
    border: 0;
    background: #4EC5F7;
    margin-left: 10px;

}
.online-text .h1{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 700;
}
.games-col{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.online-text p{
    display: flex;
    justify-content: center;
}
.color-funny{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.grid-card{
    display: grid;
    /* border: 1px solid red; */
    /* width: 100%; */
    margin: 25px 100px;
    margin-right: 100px;
    grid-template-columns: repeat(4,1fr);
    /* justify-content: space-between; */
    padding: 10px 0;
    
}
.grid-card img{
    width: 300px;
    height: 400px;
}
.grid-card .card-2{
    width: 300px;
    height: 400px;
    position: relative;
}
.card-2 img{
width: 100%;
display: block;
margin: auto;
}
.content{
    width: 100%;
    height: 100%;
    font-size: 40px;
    top:0;
    left: 0;
    position: absolute;
    background:rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}
.content:hover{
    opacity: 1;
}
.grid-card .card-1{
    width: 300px;
    height: 400px;
    position: relative;
}
.card-1 img{
width: 100%;
display: block;
margin: auto;
}
.content-1{
    width: 100%;
    height: 100%;
    font-size: 40px;
    top:0;
    left: 0;
    position: absolute;
    background:rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}
.content-1:hover{
    opacity: 1;
}
.grid-card .card-3{
    width: 300px;
    height: 400px;
    position: relative;
}
.card-3 img{
width: 100%;
display: block;
margin: auto;
}
.content-3{
    width: 100%;
    height: 100%;
    font-size: 40px;
    top:0;
    left: 0;
    position: absolute;
    background:rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}
.content-3:hover{
    opacity: 1;
}
.grid-card .card-4{
    width: 300px;
    height: 400px;
    position: relative;
}
.card-4 img{
width: 100%;
display: block;
margin: auto;
}
.content-4{
    width: 100%;
    height: 100%;
    font-size: 40px;
    top:0;
    left: 0;
    position: absolute;
    background:rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}
.content-4:hover{
    opacity: 1;
}
/* .card-1 {

}
.card-2 {
    
}
.card-3{
   
}
.card-4{
   
} */
/* .two-img-text{
    display: flex;
} */
.two-img-text{
    display: flex;
    align-items: center;
}
.two-img-in{
    /* display: flex; */
    position: relative;
}
.two-img img{
    width: 400px;
    height: 360px;
    margin: 40px 100px;
    border: 8px;

}
.one-img img{
    padding: 10px;
    width: 190px;
    height: 220px;
    position: absolute;
    left: 60%;
    top: 65%;
}
.two-img-text .img-text{
   
    padding: 50px;
}
.li-items{
    /* border: 1px solid red; */
    display: grid;
    margin: 100px 100px;
    /* justify-content: center; */
    color: #0B0223;
text-align: center;
text-decoration-style: solid;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 10px;
}
.li-items .item img{
    width: 60px;
    height: 60px;
}
.item{
    display: flex;
}

/* footer */
.footer-container{
    /* border: 1px solid red; */
    background-color: #0B0223;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    margin: 0 auto;
    max-width: 1300px;
}
.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;

}
.footer-logo img{
    width: 75px;
                    height: 40px;
                    /* margin-left: 10px; */
}
.footer-logo p{
    font-weight: 700;
    font-size: 40px;
    width: 75px;
    height: 40px;


}
.footer-g-logo{
    color: #FF42A5;
}
.footer-gmaer-logo{
    color: white;
}
.footer-list>ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
text-align: center;
margin: 10px 150px;
font-size: 15px;
font-style: normal;
font-weight: 600;

}
.footer-list-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 150px;
    gap: 25px;
}
.fa-brands{
    font-size: 40px;
}
.last{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin: 10px 150px;
    color: rgba(255, 255, 255, 0.60);
    font-weight: 500;
    font-size: 12px;
}
.span-text{
    display: flex;
    justify-content: center;
    gap: 30px;
    /* align-items: center; */
    margin: 10px 150px;
    color: rgba(255, 255, 255, 0.60);
    font-weight: 500;
    font-size: 12px;
}
.follow-logoo{
    display: flex;
}

@media screen and (max-width:576px) {
    .nav-container{
        flex-direction: column;
        border: 1px;
        margin: 1px;
    }
   .nav-container .nav-items>ul{
        flex-direction: column;
        
        margin: 25px;
    }
    .banner{
        flex-direction: column-reverse;
        border: 0;
        margin: 0;
    }
    .two-img img{
        width: 250px;
        border: 0;
        margin: 50px 0;
    }
    .banner-img img{
        width: 270px;
        margin: 0;
        border: 0;
    }
    .banner-text{
    width: 300px;
    margin: 0;
    border: 0;
    font-size: 20px;
    justify-content: center;
    }
    .btn-go .btn-sign{
        font-size: 50px;
    }
    /* .color-funny{
        width: 20px;
        flex-direction: row;
    } */
    .online-text .h1 {
        font-size: 20px;
    }
    .color-funny{
        font-size: 20px;
      
    }
    .grid-card{
     
        grid-template-columns:1fr;
        /* width: fit-content; */
        margin: 0;
        border: 0;
        width: 300px;
    }
    .grid-card img{
        width: 300px;
        justify-content: center;

    }
    .two-img-text{
        flex-direction: column;
    }
    .footer-container{
       margin: 0;
       border: 0;
       background-position: 100%;
    }
    .footer-logo{
        flex-direction:row;
    }
    
    .footer-container .footer-list{
        font-size: 10px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: flex-start;
        margin: 0; border: 0;
    
    }

    .li-items img{
        font-size: 2px;

    }
    .span-text{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .li-items{
       grid-template-columns: repeat(3,1fr);
       border: 0;
       margin: 0;
       font-size: 10px;
    }
    .follow-logoo{
        flex-direction: column;
    }
    /* .li-items img{
        font-size: 2px;
    } */
.footer-list-logo{
    display: grid;
    grid-template-columns: repeat(3,1fr);

}
    .last{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
